*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 300px auto auto;
    background-color: burlywood;
    width: 100vw;


}
header {
    display: flex;
    background-color: blanchedalmond;
    color:white;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 1/2;
}

header > img{
    order: 1;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display:inline;
}


nav > ul > li{
    padding: 10px;
    border: 1px solid brown;
    background-color: bisque;
    color: azure;
    font-size: 20px;
}
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
nav{
    background-color: chocolate;
    flex-direction: row;
    justify-items: space-between;
    padding: 15px 0px;
    grid-column: 1/-1;
    grid-row: 2/3;

}
#banner-umamusume {
    width: 100%;
    height: 300px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

#banner-umamusume > img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    justify-self: stretch;

}

#titulo-principal{
    order: 2;
    display:inline;
    color: purple;
    width: auto;
    height: auto;

}

article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: cadetblue;
    gap: 10px;
}
section {
    border: 5px solid brown;
    border-radius: 3px;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#Agnes-tachyon{
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}
section > img {
    width: 200px;
    height: 120px;
    object-fit: contain;
}
#Meisho-Doto{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;

}
section > p {
    padding: 5px;
}
section > h3 {
    font-size: 22px;
    margin-bottom: 5px;
}
article > h2{
    text-align: center;

}
main{
    grid-row: 4/5;
}
footer {
    grid-row: 5 / 6;
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px 10%;
    gap: 50px;
}

footer > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

footer > dl {
    width: 300px;
}

footer > dt {
    font-weight: bold;
}


footer dt {
    font-weight: bold;
    margin-top: 10px;
}

footer dd {
    margin-left: 0;
    margin-bottom: 10px;
}